* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.acces {
  background-color: #97d4f3;
  border-radius: 10px;
  padding: 40px;
  max-width: 800px;
}

.patient-form {
  max-width: 800px;
  padding: 40px;
  background-color: #97d4f3;
  border-radius: 10px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patient-form__btn {
  width: 100%;
  margin-top: 32px;
}

.patient-form_input {
  margin-bottom: 10px;
}

.analisis-container {
  background-color: #97d4f3;
  min-height: 800px;
  padding: 40px;
  border-radius: 10px;
}

.tarjeta {
  width: 250px;
  text-align: center;
  margin: 10px 0 10px 0;
  height: 290px;
}

.card-body {
  height: 50px;
}

.btn-analisis-enviar {
  margin-top: 20px;
  width: 500px;
  font-size: 30px;
  height: 80px;
}

.talon {
  background-color: #cfcfcf;
  border-radius: 10px;
  padding: 40px;
  width: 900px;
  height: 900px;
}

.talon-table {
  border-radius: 30px;
  background-color: red;
}

.margin40 {
  margin: 40px;
}
