body {
  background-color: #dedede;
}

header h1 {
  font-size: 60px;
  color: #333;
  margin: 20px;
}

header hr {
  color: #333;
  width: 80%;
}

.carousel-item img {
  border-radius: 50px;
  border: #97d4f3 solid 4px;
}

.columna {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.columna img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.main__interes {
  background-color: #97d4f3;
  border-radius: 40px;
}

.main__titulo {
  background-color: #dedede;
  border-radius: 30px;
  padding: 30px;
  width: 100%;
  margin: 0;
}

.interes__img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: solid 6px #dedede;
  margin: 40px;
}

.contacto {
  background-color: #97d4f3;
  border-radius: 50px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.contacto p {
  margin: 0;
}

footer {
  text-align: center;
  height: 100px;
}

.padding40 {
  padding: 40px;
}

.margin40 {
  margin: 40px;
}
.border{
  border-right: 1px solid #333 ;
}

@media screen and (max-width: 775px) {
  .contacto {
    flex-direction: column;
    height: 150px;
    border-radius: 75px;
    justify-content: space-evenly;
    text-align: center;
  }
}
